/* Indicamos con un selector universal que indique por herencia que se respete el ancho de todas las cajas(box) de los elementos */
*{
    box-sizing: border-box;
}
/* Al bloque div de clase container le agregamos una ancho que cubra todo el ancho de la pagina, una altura y un color gris de bajo tono*/
.container {
  width: 100%;
  height: 9.4em;
  background: rgb(240, 240, 240);

}
/*a la frase "horizontal menu"l dentro del bloque h1 le agregamos un tamaño de letra, un margen, relleno izquierdo y superior; y una altura de linea para ubicarla en el centro"*/
h1 {
  font-size: 35px;
  margin: 7px;
  padding-top: 7px;
  padding-left: 4px;
  line-height: 60px;
}
/*Al bloque div de clase menu (contiene la barra de menu) le atribuimos posicion fija(para mantenerla en esa posicion) hacia la izquierda" y un color negro*/
.menu {
  width: 98%;
  position: fixed;
  left: 15px;
  background-color: rgb(0, 0, 0);
}
/*a los l bloques div de clase box(contiene los menu en si) a los contenidos le atribuimos una altura de linea, un tamaño de letra, un relleno,  un color negro y le atribuimos la posicion float hacia la izquierda para ponerlo en posicion horizontal"*/
.box {
  line-height: 60px;
  font-size: 25px;
  padding-left: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  float:left;
}
